form {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  height: 100%;
  width: 300px;
}

input {
  border: none;
  margin: 15px 0;
  padding: 8px;
}

button {
  border: none;
  background-color: green;
  color: #fff;
  font-weight: bold;
  margin: 15px 0;
  padding: 10px;
}
